body {
    background-color: #e2dddd;
    color: #777777;
    font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
}

#aboutMe {
    width: 70%;
}

#aboutMe img {
    /* object-fit: contain; */
    /* width: 60%; */
    height: 15vw;
}

#portfolioImg img {
    height: 15vw;
}

.jumbotron h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.jumbotron {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white !important;
}

.card-footer {
    color: aliceblue !important;
    background-color: #666666;
    border-top: 2px solid #4aaaa5;
}